*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Madimi One", sans-serif;
    background-color:#7700FF ;
    color: #55FF00;
}
footer,
header .container{
    padding: 24px 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color:#0011ff4f ;
    color:#FFFD00 ;
}
footer small,
footer a,
header ul li,
header ul li a{
    padding: 0px 5px;
    display: inline;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    color: #FFFD00;
}
section h1,
section .container{
    padding: 0px 100px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content:center;
    letter-spacing: 5px;
}
section p{
    font-size: 20px;
    letter-spacing: 8px;
}

.container img{
    height: 350px;
    margin: 0px 20px;
}
#conhecimentos .container{
    display: flex;
    flex-direction: column;
}
#conhecimentos .article_1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#conhecimentos .article_2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#saibaMais .container{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
}
#saibaMais p{
    padding: 0px 250px;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    background-color: #0011ff21;
    color: #fff;
    width: 300px;
    height: 40px;
    padding-left: 20px;
}
form button{
    font-size: 24px;
    width: 300px;
    height: 40px;
    background-color: #000;
    color: #55FF00;
}
form button:hover{
    background-color: #3e4043;
    cursor: pointer;
}